<div class="column">
  <div class="ui form">
    <div class="field">
      <label>Loginname</label>
      <div class="ui left labeled icon input">
        <input type="text" placeholder="test">
        <i class="pencil icon"></i>
      </div>
    </div>
    <div class="ui error message">
      <div class="header">We noticed some issues</div>
    </div>
    <div class="ui teal button">Login</div>
  </div>
</div>
<!--form class="form-horizontal" ng-submit="set_act_name()">
    <div class="form-group">
      <label class="col-lg-2 control-label">我要发布一个活动报名</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" ng-model="act_name" placeholder="您的活动名" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label"></label>
      <div class="col-lg-3">
        <input class="btn btn-info" type="submit" value="创建">
      </div>
    </div>
</form>
<div class="ui compact menu">
  <div class="ui simple dropdown item">
    Dropdown <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Choice 1</div>
      <div class="item">Choice 2</div>
      <div class="item">Choice 3</div>
    </div>
  </div>
</div-->
