<footer class="ui grid page" id="footer">
  <div class="content">
    <div class="first-row level">
      <div class="ui divided horizontal list">
        <div class="item">特别鸣谢</div>
        <div class="item">参与公司</div>
        <div class="item">合作伙伴</div>
        <div class="item">logo图标</div>
        <div class="item">摆放区</div>
      </div>
    </div>
    <div class="second-row level">
      <span>微信号：chuang+</span>
      <span>邮箱：chuang+@gmail.com</span>
      <span>微博号：创+</span>
    </div>
    <div class="third-row level">
      Copyright © chuang+
    </div>
  </div>
</footer>

